-# .center-contents
-#   %button#toggle-index-map HOME | MAP

#map-container
-# .hide-map

#homepage
  #about
    %span.close &times;
    %h1 Dreamt In
    %h2 Welcome to our worldwide dream repository. Browse people's dreams by clicking on the markers and place your own on the map using the form.
    %h2
      Catch us on twitter 
      %a{:href => "https://twitter.com/dreamt_in"} here.
  #form.collapsed
    %h3#toggle-form TELL US ABOUT YOUR DREAM
    %h4 Click a place on the map to set the location.

    = form_for @dream do |f|

      = f.label :title
      = f.text_field :title

      = f.label :description
      = f.text_field  :description

      = f.hidden_field  :location_lat, id: 'lat-field'
      = f.hidden_field  :location_long, id: 'long-field'

      -# = f.label :dream_image, 'Dream Image'
      #upload
        .wrapper
          = f.file_field :dream_image
        %button#no-action UPLOAD IMAGE

      %br
      .radio
        = f.radio_button :daydream, "1"
        = f.label :daydream, 'Daydream'
      %br
      .radio
        = f.radio_button :daydream, "0"
        = f.label :daydream, 'Nightdream'

      = f.submit 'PIN IT', id: 'new-dream-button'